sdkconfig
*~
build/
managed_components/
backup/

# Solo queremos el BSP del P4 y el driver LT8912B, no todos los BSPs
components/esp-bsp/bsp/esp-box*/
components/esp-bsp/bsp/esp32_azure*/
components/esp-bsp/bsp/esp32_c3*/
components/esp-bsp/bsp/esp32_lyrat*/
components/esp-bsp/bsp/esp32_p4_eye*/
components/esp-bsp/bsp/esp32_s*/
components/esp-bsp/bsp/esp32_wrover*/
components/esp-bsp/bsp/esp_bsp_devkit*/
components/esp-bsp/bsp/esp_bsp_generic*/
components/esp-bsp/bsp/esp_wrover_kit*/
components/esp-bsp/bsp/m5*/
components/esp-bsp/SquareLine/
components/esp-bsp/components/bh1750/
components/esp-bsp/components/ds18b20/
components/esp-bsp/components/es7210/
components/esp-bsp/components/es8311/
components/esp-bsp/components/fbm320/
components/esp-bsp/components/hts221/
components/esp-bsp/components/icm42670/
components/esp-bsp/components/io_expander/
components/esp-bsp/components/lcd/esp_lcd_ili9881c/
components/esp-bsp/components/lcd_touch/
components/esp-bsp/components/led_indicator/
components/esp-bsp/components/mag3110/
components/esp-bsp/components/mpu6050/
components/esp-bsp/components/ov2640/
components/esp-bsp/components/apds9960/
components/esp-bsp/components/bmp280/

